html {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
  font-style: "courier", monospace;
}

canvas {
  margin: 100px auto 0 auto;
  margin-top: 20px;

}
